/* Overhead container for the portal */
.loginContainer {
    position: fixed;
    top: 25px;
    right: 25px;

    min-width: 100px;
    min-height: 50px;

    background-color: var(--background-secondary);
    color: var(--text-color);
    z-index: 1000;
}

/* Inactive button for the portal */
.loginButton {
    text-decoration: none;
    border: none;

    color: var(--text-color);
    background-color: var(--background-secondary);

    font-size: 12pt;
}

.loginButton:hover {
    color: var(--text-hover);
}

/* Overhead container for the active portal */
.loginPortal {
    background-color: var(--background-color);
    border-radius: 10px;

    padding: 10px;
    z-index: 1001;
}

.loginPortal::after {
    content: "";
    clear: both;
    display: table;
}

/* Exit button for the active portal */
.portalButton {
    float: right;

    text-decoration: none;
    border: none;

    color: var(--text-color);
    background-color: var(--background-color);

    font-size: 12pt;
}

.portalButton:hover {
    color: var(--text-hover);
}

.portalForm #formLabel {
    font-size: 10pt;
}

.portalForm #formPass {
    font-size: 10pt;
    color: green;
}

.portalForm #formFail {
    font-size: 10pt;
    color: red;
}


.portalForm #formSubmit {
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;

    color: var(--text-color);
    background-color: var(--text-hover);

    font-size: 12pt;
}

.portalForm #formSubmit:hover {
    color: blue;
}

.errorMessage {
    color: red;
    font-size: 10pt;
}

/* Shrinks the "Don't have an account?" text */
.portalCreate p {
    font-size: 10pt;
}

.portalCreate button {
    text-decoration: none;
    border: none;

    color: var(--text-color);
    background-color: var(--background-color);

    font-size: 12pt;
}

.portalCreate button:hover {
    color: var(--text-hover);
}