.Container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text inside the div */
    padding: 0 20px; /* Optional: Add some padding for better mobile view */
  }