:root { /* color-scheme - you can reference these colors just by typing the name */
  --background-color: #171D25;
  --background-color-trans: rgba(23, 29, 37, 0.3);
  --background-secondary: #252930;
  --secondary-color: #1b702c;
  --text-color: #ffffff;
  --text-hover: #1A9FFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-secondary);
}