.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center; 
    padding: 0 20px; 
  }

  .logoContainer {
    margin-bottom: -113px;
    margin-right: auto;
    margin-left: 132px;
  }
  .cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap; 
  }
  .sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-size: 24px;
    margin: 50px 0px; 
    position: relative;
    text-align: center;
    width: 40%;
    text-transform: uppercase; 
    letter-spacing: 2px; 
  }
  
  .sectionTitle::before,
  .sectionTitle::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #7c7c7c;
    margin: 0 20px; 
  }
  
  .card {
    background-color: #1a1a1a; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
  }
  
  .card:hover {
    transform: translateY(-10px); 
  }
  
  .cardFooter {
    background-color: #0056B3;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
  }
  .Content {
    
    width: 100%;
    height: 10vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    text-align: center; /* Center text inside the div */
    margin-top: 50px;
   /* padding: 20 50px;  Optional: Add some padding for better mobile view */
  }
  .Content h1{
     
    position: absolute;
    font-size: 3em; 
   -webkit-text-stroke: 1px #168d16; /*create a green line around each letter*/
   transform: translate(-5%, 5%); /*moves the text stroke to  down and right*/
   animation: animate 10s linear infinite; /* brighten the text for 10 seconds*/
  }
  @keyframes animate{
    0%
    {
      color: rgb(255, 255, 255); /*adjust the text color when animate is active*/
      text-shadow: 0 0 10px #0cc3fb, /*creates shadow color when animate is active*/
      0 0 20px #0cc3fb,
      0 0 40px #0cc3fb,
      0 0 60px #0cc3fb,
      0 0 80px #0cc3fb,
      0 0 100px #0cc3fb;
    }

  }
  .Content h1:nth-child(1)
  {
    transform: translate(-5%, -5%);/*moves the first text line to the down and left*/
    color: rgb(52, 70, 87);
  }
  .Content h1:nth-child(2)
  {
    transform: translate(-5%, -8%);/*moves the second text line to the down and left*/
    color: rgb(61, 116, 193);
   
  }
  @media (max-width: 768px) {
    .content h1 {
      font-size: 2em;
    }
  
    .cardsContainer {
      flex-direction: column;
      gap: 10px;
    }
  
    .sectionTitle {
      font-size: 20px;
    }

    .sectionTitle::before,
    .sectionTitle::after {
      margin: 0 10px;
    }
    .card {
      width: 90%;
    }
  }