.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px 50px;
  transform: scale(0.83); 
  transform-origin: top center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #3faba2;
}

.analyticsContent {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; 
}

.statsContainer {
  background-color: #252930; 
  color: #3faba2; 
  font-family: 'Courier New', Courier, monospace; 
  padding: 20px; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
  border: 1px solid #444; 
}

.listContainer h3 {
  color: #ffffff; 
  margin-bottom: 10px;
  font-size: 1.3rem; 
}

.listContainer ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.listContainer ul {
  list-style-type: none;
  padding-left: 0; 
}
.chartsContainer {
  flex: 2;
  display: flex;
  flex-wrap: wrap; 
  /* gap: 20px; */
}

.chart {
  flex: 1 1 48%; 
  min-width: 300px;
  padding: 20px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .analyticsContent {
    flex-direction: column;
  }

  .statsContainer, .chartsContainer {
    width: 100%;
  }

  .chart {
    width: 100%; 
  }
}
