**/node_modules/
**/dist
npm-debug.log
.coverage
.coverage.*
.env
.aws
build
scripts
.git
.gitignore
.next
README.md
LICENSE
Dockerfile*
docker-compose*
.dockerignore
*.log
*.log*
.vscode
.DS_Store
.gitignore
.editorconfig
.env
.env.local
.gitlab-ci.yml
.eslintrc.js
*.swp
