# javascript
**/node_modules/
.next
.eslintrc.js

# docker
Dockerfile*
docker-compose*
.dockerignore

# build/test/deploy
**/dist
build
scripts
.env
.env.local
.coverage
.coverage.*
.aws

# git
.git
.gitignore
.gitlab-ci.yml

# log
*.log
*.log*

# editor
.vscode
.editorconfig
*.swp

# other
README.md
LICENSE
.DS_Store
